<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Spring Boot - Thymeleaf</title>
    <link rel="stylesheet" href="style.css" />
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
</head>
<body>

<!--18cm na 8cm-->
<nav class="navbar flex-column">
    <div>qr code or code bar</div>
</nav>
<main>
    <nav>align to right CosmicFlights</nav>
    <div>
        <h1>NAME OF PASSENGER: </h1> <br />
        <p th:text="${ticket.getTouristInFlight().getSurname()}"> / <p th:text="${ticket.getTouristInFlight().getName()}"></p>
        <h1>FROM: </h1> <span th:text="${ticket.getFlightThatTouristIsIn().getStartingDestination()}"></span>
        <h1>TO: </h1> <span th:text="${ticket.getFlightThatTouristIsIn().getFinalDestination()}"></span>
    </div>
    <div>
        <h1>FLIGHT NUMBER: </h1>
        <p th:text="${ticket.getTicketId()}"></p>
        <h1>BOARDING TIME: </h1>
        <p th:text="${ticket.getBoardingTime()}"></p>
    </div>
    <div>
        <h1>DATE: </h1>
        <p th:text="${ticket.getFlightThatTouristIsIn().getFlightStartingTime()}"></p>
    </div>
    <div>
        <h1>SEAT: </h1>
        <p th:text="${ticket.getS}"></p>
        Tu bedzie logo
    </div>
    tu dac jakis separator border line albo cus
    <div>
        <h1>NAME OF PASSENGER: </h1>
        <p th:text="${tourist.getSurname()}"> / <p th:text="${tourist.getName()}"></p>
        <h1>FROM: </h1> <span th:text="${flight.getStartingDestination()}"></span>
        <div>  // w prostokacie
            FLIGHT: <br />
            <p th:text="tu bedzie nr lotu"></p>
            <h1>GATE: </h1> <span th:text="tu bedzie nr bramki"></span>
            HAVE A NICE TRIP!]

        </div>
    </div>
</main>
</body>
</html>