<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Spring Boot - Thymeleaf</title>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body class="flex items-center justify-center h-screen">
<div class="rounded-lg border shadow-lg p-10 w-3/5">
    <div class="flex flex-row justify-between pb-4">
        <div>
            <h2 class="text-xl font-bold">Ticket #<span class="text-green-600" th:text="${tourist.id}"></span>
            </h2>
        </div>
        <div>
            <div class="text-xl font-bold" th:text="${flight.getFlightStartingTime()}"></div>
        </div>
    </div>
    <div class="flex flex-col pb-8">
        <div class="pb-2">
            <h2 class="text-xl font-bold">Personal Information</h2>
        </div>
        <div th:text="${tourist.name}"></div>
        <div th:text="${tourist.surname}"></div>
        <div th:text="${tourist.country}"></div>
        <div th:text="${tourist.dateOfBirth}"></div>

    </div>
    <h2 class="text-xl font-bold">Flight Details</h2>
    <table class="table-fixed text-left w-2/6 border">
        <tr>
            <th class="text-green-600">Flight ID</th>
            <td th:text="${flight.id}"></td>
        </tr>
        <tr>
            <th class="text-green-600">Flight Starting Destination</th>
            <td th:text="${flight.startingDestination}"></td>
        </tr>
        <tr>
            <th class="text-green-600">Flight Starting Time</th>
            <td th:text="${flight.flightStartingTime}"></td>
        </tr>
        <tr>
            <th class="text-green-600">Flight Arrival Time</th>
            <td th:text="${flight.flightArrivalTime}"></td>
        </tr>

    </table>
</div>
</body>
</html>